body {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0;
    background-image: url("../images/pic07.jpg");
    background-color: lightslategrey;
    background-size: cover;
    overflow-x: hidden;  
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.cover {
    height: 100vh;
    width: 100%;
    color: #fff;
}

*{
    box-sizing: border-box; /* This makes sure that the padding and border are included in the total width and height of the elements.*/
}

[class*="col-"] {
    float: left;
    padding: 3px;
    border: none;
}

/* For small scree */
.col-sm-1 {
    width: 8.33%;
}
.col-sm-2 {
    width: 16.66%;
}
.col-sm-3 {
    width: 25%;
}
.col-sm-4 {
    width: 33.33%;
}
.col-sm-5 {
    width: 41.66%;
}
.col-sm-6 {
    width: 50%;
}
.col-sm-7 {
    width: 58.33%;
}
.col-sm-8 {
    width: 66.66%;
}
.col-sm-9 {
    width: 75%;
}
.col-sm-10 {
    width: 83.33%;
}
.col-sm-11 {
    width: 91.66%;
}
.col-sm-12 {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    /* For large screen */
    .col-lg-1 {
        width: 8.33%;
    }
    .col-lg-2 {
        width: 16.66%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-5 {
        width: 41.66%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-8 {
        width: 66.66%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-10 {
        width: 83.33%;
    }
    .col-lg-11 {
        width: 91.66%;
    }
    .col-lg-12 {
        width: 100%;
    }
}

.row::after {  /* clears the flow */
    content: "";
    clear: both;
    display: table;
}

.nav {
    width: 100%;
}
#logo {
    float: left;
}
/*Strip the ul of padding and list styling*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
}
li {
    float: left;
    margin-right: 1px;
}
/*Style for menu links*/
li a {
    display:block;
    min-width:140px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background: none;
    text-decoration: none;
}
/*Hover state for menu links*/
li:hover a {
    background: #64726d;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
    text-decoration: none;
    color: #fff;
    background: #19c589;
    text-align: center;
    padding: 10px 0;
    display: none;
}
/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}
/*Responsive Styles*/
@media screen and (max-width : 760px){
    /*Make dropdown links appear inline*/
    ul {
        position: static;
        display: none;
    }
    /*Create vertical spacing*/
    li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    ul li, li a {
        width: 100%;
    }
    /*Display 'show menu' link*/
    .show-menu {
        display:block;
    }
}

.slider {
    padding: 20vh 10px 5vh 10px;
    text-align: center;
}

#welcome-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.8em;
    font-style: oblique;
    
}

button {
    height: 35px;
    border-radius: 10%;
    border: none;
    padding: 10px;
}

.btn-success {
    background-color: #50c0e0;
}
.btn-primary {
    background-color: darkgray;
}
btn-danger {
    background-color: firebrick;
}
btn-warning {
    background-color: goldenrod;
}

.content {
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 10px;
    padding: 5px 10px 10px 10px; 
}
@media screen and (max-width : 760px){
    .content {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 10px;
        padding: 5px 10px 10px 10px; 
    } 
}

.page-title {
    text-align: center;
    margin: 20px;
    padding-top: 1vh;
}
.page-title h3 {
    font-size: 2.0em;
    font-family: 'Times New Roman', Times, serif;
}

.form {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(27, 31, 34, 0.85);
    color: #fff;
}
@media screen and (max-width : 760px){
    .form {
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
        background-color: rgba(27, 31, 34, 0.85);
    }
}

.form-header{
    border-bottom-color: grey;
    border-bottom-width: 1px;
    border-bottom-style: groove;
    margin: 10px;
}
form {
    margin-bottom: 20px;
    padding: 20px; 
}
input{
    width: 100%;
    height: 50px;
    padding-left: 5px;
    border-top: none;
    border-left: none;
    background-color: rgba(27, 31, 34, 0.85);
    color: #fff;
}
textarea{
    width: 100%;
    border-top: none;
    border-left: none;
    margin-top: 5px;
    background-color: rgba(27, 31, 34, 0.85);
    color: #fff;
}
select{
    width: 100%;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 5px;
    background-color: rgba(27, 31, 34, 0.85);
    color: #fff;
}
#form-label {
    color: #50c0e0
}

span a {
    color : #fff;
    margin:5px;
}
a {
    color: #fff;
}
.request {
    background: rgba(27, 31, 34, 0.85);
    padding: 10px;
}
.request-details {
    border-right: 2px;
    border-right-style: ridge;
}
.request-details h4 span {
    color: rgb(206, 203, 203);
    font-style: italic;
}
.request-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.0em;
}
.user-details {
    border-right: 2px;
    border-right-style: ridge;
}
.user-details h4 span {
    color: rgb(206, 203, 203);
    font-style: italic;
}

table {
    width: 100%;
    margin-bottom: 20px;
}
thead {
    margin: 5px;
}
thead tr th {
    background-color: rgb(56, 55, 55);
    padding: 5px 5px 5px 5px;
}
tbody tr {
    margin: 10px;
}
tbody tr td {
    background-color: rgb(56, 55, 55);
    padding: 5px 5px 5px 5px;
}
tbody tr td a{
   color: blue;
}


#status-pending {
    color: #19c589;
}
#status-cancelled {
    color: #c58f19;
}
#status-resolved {
    color: #19c5b7;
}

.admin-container {
    padding: 12vh 10vw 5vh 10vw;
    text-align: center;
    color: #fff;
    
}

.admin-item {
    background-color: bisque;
    background-size: cover;
    padding: 20px 20px 20px 20px;
    margin: 5px 20px 5px 20px;
}

.admin-item span {
    background: #19c589;
    padding: 15px;
    border-radius: 50%;
}

.admin-item h4 {
    color: #000;
}

.admin-container .request {
    margin-top: 20px;
}

.table-title {
    text-align: left;
    margin: 10px;
    color: #19c589;
}