<!Doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Maintenance Tracker App</title>
        <link rel="stylesheet" href="../../assets/css/styles.css">
        
    </head>
    <body>
        <div class="nav"> <!-- Navigation Menu Starts -->
            <label for="show-menu" class="show-menu">Show Menu</label>
            <input type="checkbox" id="show-menu" role="button">
         
            <ul id="menu">
                
               <li id="logo"><a href="#">Maintenance</a></li>
                           
               <li><a href="dashboard.html">Dashboard</a></li>
               <li><a href="requests.html">Service Requests </a></li>
               <li><a href="users.html">Registered Users </a></li>
               <li id="login"><a href="../../index.html">Log Out</a></li> 
            </ul>
        </div> <!-- navigation menu ends -->

        <!--
            Dashboard page content start
        -->
        
        <div class="admin-container">
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <div class="admin-item">
                        <span>3</span>
                        <h4>New Requests</h4>
                        <a href="requests.html"><button class="btn-success">View</button></a>
                    </div> 
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="admin-item">
                        <span>10</span>
                        <h4>Pending Requests</h4>
                        <a href="requests.html"><button class="btn-success">View</button></a>
                    </div> 
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="admin-item">
                        <span>23</span>
                        <h4>Registered Users</h4>
                        <a href="users.html"><button class="btn-success">View</button></a>
                    </div> 
                </div>
            </div>
            

        </div>
      
    </body>
</html>