<!Doctype html>
<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Maintenance Tracker App</title>
            <link rel="stylesheet" href="../../assets/css/styles.css">
            
        </head>
        <body>
            <div class="nav"> <!-- Navigation Menu Starts -->
                <label for="show-menu" class="show-menu">Show Menu</label>
                <input type="checkbox" id="show-menu" role="button">
             
                <ul id="menu">
                
                    <li id="logo"><a href="#">Maintenance</a></li>
                                
                    <li><a href="dashboard.html">Dashboard</a></li>
                    <li><a href="requests.html">Service Requests </a></li>
                    <li><a href="users.html">Registered Users </a></li>
                    <li id="login"><a href="../../index.html">Log Out</a></li> 
                </ul>
        </div> <!-- navigation menu ends -->

        <!--
            page content start
        -->
        <div class="cover">
        <div class="content">
            <div class="page-title">
                <h3>Request Page</h3>
            </div>
            
            <div class="request">
            <div class="row">
               <div class="col-lg-12 col-sm-12">
                  <div class="request-details">
                      <div class="request-title">
                          Request Details
                          <span><button id="status-resolved">Resolve</button></span>
                          <span><button id="status-cancelled">Cancel</button></span>
                        </div>
                      <div class="col-lg-6 col-sm-12">
                        <h4><strong>Service Type: </strong> <span>Maintenance.</span></h4>
                        <h4><strong>Status: </strong> <span id="status-pending">Pending.</span></h4>
                        <h4><strong>Location: </strong> <span>4th Avenue, Mombasa</span></h4>
                        <h4><strong>Date: </strong> <span>30/5/2014 10:00 AM</span></h4>
                      </div>
                      <div class="col-lg-6 col-sm-12">
                        <h4>Request Instructions</h4>
                        <p>HP LIFE and LinkedIn share a mission to help the world’s professionals be more productive and su</p>
                      </div>


                  </div>
               </div>
               <div class="col-lg-12 col-sm-12">
                    <div class="user-details">
                       <div class="request-title">User Details</div>
                       <div class="col-lg-6 col-sm-12"><h4><strong>Name: </strong> <span>Aly Uweso.</span></h4></div>
                       <div class="col-lg-6 col-sm-12"><h4><strong>Email Addres: </strong> <span>info@uweso.com</span></h4></div>
                       
                       
                    </div>

               </div>
               <div class="col-lg-12 col-sm-12">
                    <div class="feedback-form">
                       <div class="request-title">Leave A Feedback</div>
                       <form>
                           <div class="row">
                               <div class="col-lg-12 col-sm-12"> 
                                   <textarea row="5" name="feedback" placeholder="Feedback"></textarea>
                               </div>
                               <div class="col-lg-6 col-sm-12">
                                   <button class="btn-success">Submit </button> 
                               </div>
       
                           </div>
                       </form>
                       
                    </div>

               </div>
            </div>
        </div>
        </div>
        </div>

    </body>
</html>